.wjs_news {
  padding-top: 20px;
  text-align: center;
}
.wjs_news .news_l {
  width: 100%;
  padding-top: 20px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.wjs_news .news_l > h4 {
  font-size: 25px;
  color: #000;
  text-align: center;
}
.wjs_news .news_l::after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  bottom: -5px;
  right: -10px;
  border: 1px solid #ccc;
}
.wjs_news .nav-tabs {
  padding-left: 10px;
}
.wjs_news .nav-tabs > li > a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 70px;
  background-color: #ccc;
}
.wjs_news .nav-tabs > li > a > span {
  font-size: 30px;
  color: #fff;
}
.wjs_news .nav-tabs > li.active > a {
  background-color: #e92312;
  border: none;
}
.wjs_news .nav-tabs > li.active > a:hover {
  border: none;
}
.wjs_news .row > div:nth-of-type(2) {
  position: relative;
}
.wjs_news .row > div:nth-of-type(2) > .dashLine {
  position: absolute;
  width: 1px;
  height: 420px;
  z-index: -1;
  top: 0;
  left: 55px;
  border: 0.5px dashed #e92312;
}
.wjs_news #home1 {
  padding: 20px 0 0 10px;
}
.wjs_news #home1 > a {
  display: block;
  margin-bottom: 45px;
  color: #846e6e;
  font-size: 14px;
  text-align: -webkit-left;
}
@media (max-width: 992px) and (min-width: 768px) {
  .wjs_news .nav-tabs li {
    margin: 30px 60px -30px 0;
  }
}
@media (max-width: 768px) {
  .wjs_news .nav-tabs li {
    width: 25%;
    margin: 30px 0 -30px 0;
  }
}
.wjs_paretner {
  padding-top: 30px;
  background-color: #eee;
  text-align: center;
}
.wjs_paretner h2 {
  color: #000000;
  font-size: 25px;
}
.wjs_paretner .aBox > a {
  font-size: 80px;
  color: #585252;
  padding: 0 10px;
}
